PORT=8000
DB_USER=admin
DB_HOST=db
DB_NAME=smarthome
DB_PORT=5432
DB_PASSWORD=admin
DB_DBURL=postgresql://admin:admin@db:5432/smarthome

# Đổi thành django.db.backends.postgresql khi có PostgreSQL thật
DB_ENGINE=django.db.backends.sqlite3

SECRET_KEY=django-insecure-s))@g_vfx-(ejoha&n_+=ruin&iqohjxo*3ogc0+seb1=kihpq
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,db
